<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blast One.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA00F8111D6E54ED009BE915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA00F8281D6E54EE009BE915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA00F8331D6E54EE009BE915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
